.testimonial img{width:150px;float:left;margin:25px;}
.testimonial .body{text-align:justify;color:black;font:normal 10pt/14pt verdana;}
.testimonial footer{text-align:right;color:#777;font:normal 12pt/14pt Cursive,Arial;}
